node_modules/
.expo/
npm-debug.*
.idea/

android/.gradle/
android/local.properties
android/build/
android/.idea/
android/app/build/
androidcrashlytics-build.properties
android/app/fabric.properties
android/projectFilesBackup/
android/infer-out/

ios/build/